.filter
  display flex
  flex-flow column
  flex-grow 1
  height fit-content
  justify-content flex-end
  min-width 160px

  +tablet()
    flex-flow row
    padding 8px 0

  &__container
    background #fff
    display none
    height 100vh
    padding 16px
    position absolute
    right -100%
    top 0
    transition all .25s
    width 100%
    z-index 10

    +tablet()
      background none
      display flex
      height auto
      padding 0
      position unset
      right auto
      top auto
      width auto

    &.active
      display block
      position fixed
      right 0

  &__header
    display flex
    justify-content space-between
    margin-bottom 32px

    +tablet()
      display none

    &__title
      font-size 2rem
      font-weight 700

    &__close
      font-size 2rem
      padding 0 8px

  &__cta
    background #fff
    border 1px solid #efefef
    font-weight 700
    height 32px
    margin-right 4px

    +tablet()
      display none

    +desktop()
      display none

  &__category
    height 48px
    min-width 150px
    position relative

    +tablet()
      height auto
      margin 0 0 0 16px

      &:first-child
        margin 0

    +desktop()
      margin 0 0 0 16px

      &:first-child
        margin 0

    &__title
      border-bottom 1px solid #efefef
      cursor pointer
      font-size 1rem
      font-weight 700
      height 23px
      margin-bottom 8px
      position relative

      &.active
        &:after
          transform rotate(139deg) skew(7deg)

      &:after
        border 1px solid #000
        border-right 0
        border-top 0
        content ' '
        display block
        height 6px
        position absolute
        right 16px
        top 6px
        transform rotate(-41deg) skew(7deg)
        transition all .15s
        width 6px

    &__container
      background #fff
      border 1px solid #efefef
      overflow hidden
      position absolute
      top 22px
      width 100%
      z-index 10

    &__action
      padding 4px

      button
        background #fff
        border 1px solid #efefef
        font-weight 700
        line-height 1rem
        min-height 2rem
        padding 8px
        transition all .25s
        width 100%

        &:hover
          background #f1f1f1

    &__options
      display flex
      flex-flow column
      font-size 1rem
      max-height 75vh
      overflow auto
      padding 16px 8px 0

      +tablet()
        font-size .75rem
        max-height 200px

      label
        cursor pointer
        margin-bottom 8px

      input[type="checkbox"]
        cursor pointer
        margin 0 4px 8px
