.products
  display flex
  flex-flow row wrap
  overflow hidden
  width 100%

  &.noscroll
    +mobile()
      overflow hidden
      position fixed
      top 0

  &__header
    flex-basis 100%
    +tablet()
      flex-basis 35%
    +desktop()
      flex-basis 40%

  h1
    font-size 3rem
    font-weight 700
    margin 0 0 16px
    padding 0 16px

    +desktop()
      padding 0

  &__filter
    display none
    flex-flow row wrap
    margin-bottom 8px
    overflow hidden

    +tablet()
      display flex

    &:empty
      display none

    &__title
      align-self center
      font-size .75rem
      font-weight 700
      margin-right 16px

    &__option
      background #f1f1f1
      cursor pointer
      font-size .85rem
      margin 0 8px 10px 0
      padding 4px 8px
      text-transform capitalize
      transition all .25s

      &:hover
        background #ccc
        color #fff

      &--close
        color #bbb
        line-height .65rem
        margin-right 4px
        transition all .25s

        ^[-1]:hover &
          color #fff

  &__sort
    display flex
    flex-flow row
    flex-grow 1
    padding 0 8px

    +tablet()
      flex-flow row
      flex-grow 0

    +desktop()
      flex-flow column
      flex-grow 1
  &__list
    display flex
    flex-flow row wrap
    overflow hidden
    padding 16px 0
    width 100%
