.sorting
  margin-bottom 16px
  text-align right

  &__title
    display block
    font-weight 700
    margin 0 8px 8px 0

  &__option
    cursor pointer
    font-size .85rem

    &.active
      pointer-events none
      font-weight 700

    &:not(:last-child):after
      color #ccc
      content "|"
      font-weight 100
      margin 0 8px
